.App-logo {
  height: 8vmin;
  pointer-events: none;
}

.App-header {
  background-color: #fff;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}
.close,
.language {
  float: right;
}
.logo-header {
  flex: 1;
}
header.css-hip9hq-MuiPaper-root-MuiAppBar-root {
  background-color: #fff;
  color: #000;
  box-shadow: none;
}
.main-body {
  background: #f4fafa;
}
.topbar {
  padding: 30px;
  display: flex;
}
.topbar svg,
.topbar button {
  color: #4b5768;
  vertical-align: middle;
  text-decoration: none;
}
.back {
  flex: 1;
}

.title-form {
  color: #5e35b1;
  padding: 20px 0px;
}
.MuiCardActions-root button {
  background-color: #5e35b1;
}
.MuiFormControl-root.MuiFormControl-fullWidth {
  margin-bottom: 15px;
}
.MuiCardActions-spacing .MuiFormControl-root.MuiFormControl-fullWidth {
  margin-bottom: 0px;
}

.MuiFormLabel-root.MuiFormLabel-colorPrimary,
.form-checkbox .MuiFormControlLabel-label {
  color: #4b5768;
}
.css-17y4g2f-MuiSvgIcon-root {
  margin-right: 10px;
}

@media only screen and (max-width: 768px) {
  .MuiToolbar-root.MuiToolbar-gutters {
    flex-wrap: wrap;
  }
  .fact-header {
    order: 3;
    width: 100%;
  }

  .language {
    order: 2;
  }
}
